.label{
    @apply top-0 left-0 text-4xl leading-loose px-9 py-6 font-bold flex 
    items-center w-full md:w-fit text-center md:text-left;
    min-height: 5.936rem;
    background-color: var(--black);
    color: var(--green);
    box-shadow: 0.438rem  0.313rem 1.625rem #645E5E;
}